#allcontent{
  width: 500px;
  justify-content: center;
  align-items: center;
}

#title{
  text-align: center;
  margin-top: 110px;
  margin-bottom: 10px;
}

#pp{
  text-align: center;
}

#todocontent{
  display: flex;
  justify-content: center;
}

#content{
  /* background-color: red; */
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 60px;
  background: #242424;
  box-shadow: inset 5px 5px 9px #0e0e0e,
              inset -5px -5px 9px #3a3a3a;
}

header{
  justify-content: end;
  display: flex;
  margin-top: 60px;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid rgba(255, 255, 255, 0.87);
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  width: 110px;
  height: 40px;
  /* padding: 10px 30px; */
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  /* transform: translateY(-2px); */
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}